<link rel="stylesheet" href="~/css/StyleSheet.css" />
<script src="~/js/JavaScript.js"> </script>
<center><header>Uskt is Hec recognized</header></center>
<div class="Fdiv">
    <nav id="Like">
        <ul>
            <li><a href="">Merit List</a></li>
            <li><a href="">Timetable</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">USKT Magazine</a></li>
            <li><a href="">Downloads</a></li>
            <li><a href="">Aquire LMS</a></li>

        </ul>
    </nav>

</div>
<div class="Sdiv">
    <nav>
        <h2 class="logo">
            <img src="~/images/logo3.png" alt="Logo" width="210px" height="80px">
        </h2>
        <ul id="Wise">

            <li><a href="mm">Academics</a></li>
            <li id="admsn"><a href="mm">Admissions</a></li>
            <li><a href="al,sa"> Offices</a></li>
            <li><a href="ksmk">Faculty and research</a></li>
            <li><a href="ksmk">Study at USKT</a></li>
            <li><a href="ksmkq">Aquire LMS</a></li>

        </ul>

    </nav>
</div>
<div class="Slider" style="width: 250px;">


    <img src="~/images/Picture1.jpeg" alt="Pic1" class="Slides">
    <img src="~/images/Picture2.jpeg" alt="Pic2" class="Slides">
    <img src="~/images/Picture3.jpeg" alt="Pic3" class="Slides">
    <img src="~/images/Picture4.jpeg" alt="Pic4 " class="Slides">
    <script src="Slider.js"></script>
</div>
<div class="Slide-next">
    <center><p>See whats happening inside.</p></center>
    <h1>News & Events</h1>
    <center>
        <p class="About-Text">Please be informed that the admission of Ph.D. in Computer Science is open. Given the quality guideline, the seats are limited. For more information please visit our website or contact us at admissions@uskt.edu.pk..</p>
    </center>
</div>

    </div>
<div class="Mission">
    <h1>Mission Statement</h1>
    <p>
        Providing quality education at affordable cost with special emphasis on intellectual development and character building.
        Providing an academic environment to groom students’ natural abilities leading to professional success.
        Providing a conducive environment to foster critical thinking and complex problem solving abilities for promoting research and entrepreneurship culture in collaboration with industry.
    </p>
</div>